/actdocs/templates/user/purchase~
/actdocs/static/courses.html~
/actdocs/static/pricesanddates.html~
/actdocs/static/our_sponsors.html~
/actdocs/static/call_for_instructors.html~
/actdocs/static/sponsor_us.html~
/actdocs/templates/menus/sponsorus~
/actdocs/templates/menus/talks~
/actdocs/static/index.html~
/actdocs/templates/login~
/actdocs/templates/menus/users~
/actdocs/templates/menus/user~
/actdocs/conf/act.ini~
*.swp
*.swo
.svn

*.odg#

*.xcf

wwwdocs/img/plano-ciencias.jpg

wwwdocs/img/plano-ciencias.pptx

wwwdocs/img/plano-ciencias/Diapositiva1.jpg

wwwdocs/img/Presentación1/Diapositiva1.jpg
