@import url(http://fonts.googleapis.com/css?family=Coda|Roboto:400,400italic,500,300,300italic,500italic,700,700italic,900,900italic);



.green-logo { color: #5ba39a; }
.blue-logo { color: #4e5d84; }

.home-banner .media-body { padding-left:20px; }
.home-banner .logo { font-family: 'Coda', cursive; }
.home-banner .logo h1 {
  margin-bottom: 0px;
}
.home-banner .logo h2 {
  margin-top: -8px;
  font-size:55px;
}
.home-banner .dates {
  margin-top: 55px;
  margin-bottom:25px;
}

.news-head p {
  font-size: 12px;
  margin-top:-10px;
}
.news-content {
  margin-bottom:40px;
}

.row-more-act {
  background-color:#e7e7e7;
  margin-top:30px;
}
.more-act-bar {
  cursor:pointer;
  color:#888;
  margin:15px 0;
}
.more-act-bar:hover {
  color:#666;
}
.more-act-on { display:none; }

/* si2 custom styles */

html,body{
font-family: 'Roboto', arial;
font-weight:300;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
 color:#4E5D84;
}
.home-banner .logo h2{
	color:#ffffff;
}
a{
color:#00A19A;
}
.navbar-default .navbar-nav>li>a{
	color:#4E5D84;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#00A19A;
}

.navbar-default .navbar-brand{
	color:#4E5D84;
	font-weight:500;
}
.navbar-default .navbar-brand:hover{
	color:#00A19A;
}

.navbar-default{
 background:#fff;
}

.home-banner .logo{
	color:#FFFFFF;
}

.home-banner .media img{
	max-width:86%;
}

#main-menu .jumbotron{
	background-image: url(../img/si2-custom/alhambra_bg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%;
	padding:100px 0px;
	margin-bottom:0px;
}
.home-banner .logo h1{
	margin-top:68px;
}
.home-banner .dates {
margin-top: 30px;
margin-bottom: 25px;
color:#FFFFFF;
font-weight: 300;
font-size: 28px;
}
.home-banner .btn-primary{
background-color: #00A19A;
border-color: #00A19A;
border-radius:0px;
font-weight:300;
}
.home-banner .btn-primary:hover{
background-color: #4e5d84;
border-color: #4e5d84;
}

.home-banner .btn{
	width:48%;
}
.home-banner .btn-default{
	background:transparent;
	border-color: #fff;
	color:#fff;
	border-radius:0px;
	font-weight:300;
}
.home-banner .btn-default:hover{
	background:#fff;
	color:#00A19A;
	border-color: #fff;
}
.btn-default{
	border-radius:0px;	
	border-color: #00A19A;
	color: #00A19A;
}
.btn-default:hover{
	color:#4E5D84;
	border-color: #4E5D84;
}

.home-banner .media{
	width:84%;
	margin:0 auto;
}

.row-more-act{
	background-color:#4E5D84;
}
.more-act-bar{
	color:#ffffff;
}	
.more-act-bar:hover{
	color:#283C6F;
}
.list-group-item{
	border:0px
}
.more-act-on .list-group-item{
	background:transparent;
	color:#fff;
}
.more-act-on .list-group-item a{
	color:#fff;
}
.page-header{
	margin:40px 0px 40px;
	border-bottom-color:#CED6EC;
}
#page{
	font-size: 1.2em;
	line-height: 1.8em;
}
.news-entry{
	border-bottom: 1px solid #CED6EC;
	margin-bottom: 60px;
}
.navbar-default{
	border-color:#CED6EC;
}
@media (max-width: 500px) {

  .home-banner .media img {
    max-width:40%;
  }
  .row{
	margin-right:0px;
	margin-left:0px;
  }
  .home-banner .logo h1{
	font-size:34px!important;
	margin-top:30px;
  }
  
  .home-banner .logo h2{
	font-size:26px!important;
  }
  .home-banner .dates{
	font-size:24px;
  }
  .home-banner .btn{
	width:80%;
	margin:10px auto;
  }
  .home-banner .media-left{
	width:100%;
	display:block;
	padding:0px!important;
  }	
  .home-banner .media-left img{
	margin:0 auto;
  }
  .home-banner .media-body{
	padding:0px;
  }
  #main-menu .jumbotron{
	padding:40px 0px;
  }
}

@media (max-width: 991px) {
  .home-banner .logo h1 {
    font-size:47px;
  }
  .home-banner .logo h2 {
    font-size:42px;
  }
}
