/* 
    Created on : 15-ene-2015, 11:53:42
    Author     : Victor M. Rivas Santos <vrivas@ujaen.es>
*/
.wiki  .panel-body {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}
.wiki  .panel {
    border-width: 0px;
    box-shadow: inherit;
}
.wiki .panel-default > .panel-heading {
    background-color: inherit;
    padding: 0px;
    margin-top: -40px;
    border-width: 0px;
}

.wiki .nav > li > a {
    padding: 0px 5px 0px 5px;
    font-size: 80%;
}

.wiki .nav-pills {
    float: right;
}

.wiki .panel-footer {
    margin-top: 50px;
    font-size: 80%;
    padding: 10px 0px 0px 0px;
    background-color: inherit;
}

.wiki .panel-footer hr {
    margin: 5px;
}

.wiki h1 {
    font-size: 170%;
}
.wiki h2 {
    font-size: 145%;
}

.wiki h3 {
    font-size: 125%;
}

.wiki-options-top,
.wiki-options-bottom
{
    font-size: 80%;
}

.wiki-options-top {
    margin-top: -40px;
}
.wiki-options-bottom{
    margin-top: +20px;
}

.sponsor-slogan {
    font-style: italic;
    text-align: center;
}

.sponsor-description {
    float: left;
    width: 35%;
}

.sponsor-iframe {
    float: right;
    width: 55%;
}

.sponsor-iframe iframe {
    width: 100%;
    height: 420px;
    border-width: 0px;
}

@media screen and (max-width: 747px) {
    .sponsor-description {
        float: none;
        width: 100%;
    }
    
    .sponsor-iframe {
        float: none;
        width: 100%;
    }
    
}



